span.p0 { background-position: 0px 0; }
span.p1 { background-position: 1px 0; }
span.p2 { background-position: 1px 0; }
span.p3 { background-position: 1px 0; }
span.p4 { background-position: 1px 0; }
span.p5 { background-position: 2px 0; }
span.p6 { background-position: 2px 0; }
span.p7 { background-position: 2px 0; }
span.p8 { background-position: 3px 0; }
span.p9 { background-position: 3px 0; }
span.p10 { background-position: 4px 0; }
span.p11 { background-position: 4px 0; }
span.p12 { background-position: 4px 0; }
span.p13 { background-position: 5px 0; }
span.p14 { background-position: 5px 0; }
span.p15 { background-position: 6px 0; }
span.p16 { background-position: 6px 0; }
span.p17 { background-position: 6px 0; }
span.p18 { background-position: 7px 0; }
span.p19 { background-position: 7px 0; }
span.p20 { background-position: 8px 0; }
span.p21 { background-position: 8px 0; }
span.p22 { background-position: 8px 0; }
span.p23 { background-position: 9px 0; }
span.p24 { background-position: 9px 0; }
span.p25 { background-position: 10px 0; }
span.p26 { background-position: 10px 0; }
span.p27 { background-position: 10px 0; }
span.p28 { background-position: 11px 0; }
span.p29 { background-position: 11px 0; }
span.p30 { background-position: 12px 0; }
span.p31 { background-position: 12px 0; }
span.p32 { background-position: 12px 0; }
span.p33 { background-position: 13px 0; }
span.p34 { background-position: 13px 0; }
span.p35 { background-position: 14px 0; }
span.p36 { background-position: 14px 0; }
span.p37 { background-position: 14px 0; }
span.p38 { background-position: 15px 0; }
span.p39 { background-position: 15px 0; }
span.p40 { background-position: 16px 0; }
span.p41 { background-position: 16px 0; }
span.p42 { background-position: 16px 0; }
span.p43 { background-position: 17px 0; }
span.p44 { background-position: 17px 0; }
span.p45 { background-position: 18px 0; }
span.p46 { background-position: 18px 0; }
span.p47 { background-position: 18px 0; }
span.p48 { background-position: 19px 0; }
span.p49 { background-position: 19px 0; }
span.p50 { background-position: 20px 0; }
span.p51 { background-position: 20px 0; }
span.p52 { background-position: 20px 0; }
span.p53 { background-position: 21px 0; }
span.p54 { background-position: 21px 0; }
span.p55 { background-position: 22px 0; }
span.p56 { background-position: 22px 0; }
span.p57 { background-position: 22px 0; }
span.p58 { background-position: 23px 0; }
span.p59 { background-position: 23px 0; }
span.p60 { background-position: 24px 0; }
span.p61 { background-position: 24px 0; }
span.p62 { background-position: 24px 0; }
span.p63 { background-position: 25px 0; }
span.p64 { background-position: 25px 0; }
span.p65 { background-position: 26px 0; }
span.p66 { background-position: 26px 0; }
span.p67 { background-position: 26px 0; }
span.p68 { background-position: 27px 0; }
span.p69 { background-position: 27px 0; }
span.p70 { background-position: 28px 0; }
span.p71 { background-position: 28px 0; }
span.p72 { background-position: 28px 0; }
span.p73 { background-position: 29px 0; }
span.p74 { background-position: 29px 0; }
span.p75 { background-position: 30px 0; }
span.p76 { background-position: 30px 0; }
span.p77 { background-position: 30px 0; }
span.p78 { background-position: 31px 0; }
span.p79 { background-position: 31px 0; }
span.p80 { background-position: 32px 0; }
span.p81 { background-position: 32px 0; }
span.p82 { background-position: 32px 0; }
span.p83 { background-position: 33px 0; }
span.p84 { background-position: 33px 0; }
span.p85 { background-position: 34px 0; }
span.p86 { background-position: 34px 0; }
span.p87 { background-position: 34px 0; }
span.p88 { background-position: 35px 0; }
span.p89 { background-position: 35px 0; }
span.p90 { background-position: 36px 0; }
span.p91 { background-position: 36px 0; }
span.p92 { background-position: 36px 0; }
span.p93 { background-position: 37px 0; }
span.p94 { background-position: 37px 0; }
span.p95 { background-position: 38px 0; }
span.p96 { background-position: 38px 0; }
span.p97 { background-position: 38px 0; }
span.p98 { background-position: 39px 0; }
span.p99 { background-position: 39px 0; }
span.p100 { background-position: 40px 0; }

span.i0 { background-position: 0 0; }
span.i1 { background-position: -18px 0; }
span.i2 { background-position: -36px 0; }
span.i3 { background-position: -54px 0; }
span.i4 { background-position: -72px 0; }
span.i5 { background-position: -90px 0; }
